<% title "London Trumps" %>
<div class="container">
	<div class="row">
		<div class="span12">
			<div align="center">
				<h1>Lobby</h1>
				<p>Join the queue.</p>
                <a href="/assets/queue_popup.html" data-rel="dialog">Open dialog</a>
				<%= link_to "Queue", {:action => "queue"}, "data-role" => "button", "data-theme" => "b" %>
			</div>
		</div>
	</div>
</div>
