@import url(http://fonts.googleapis.com/css?family=Gabriela);

.card_container {
height:420px;
width:300px;
border: 2px solid black;
border-radius: 15px;
background-image:url('cardboard_flat.png');
}

#head {
height:50px;
}

body {
font-family: 'Gabriela', serif;
font-size:100%;
}

h1 {
font-size:1.3em;
font-weight:150;
margin-left:30%;
margin-top:5px;
}

h2 {
font-size:1.0em;
font-weight:130;
margin-left:25%;
margin-top:-15px;
}

#image {
top:-50px;
border:1px dotted blue;
}

#image  img{
width:300px;
height:200px;
z-index:0;
}

#crest {
position:absolute;
top:180px;
left:220px;
border:1px dotted green;
}

#crest  img{
z-index:1;
width:80px;
height:80px;
}

#table_container {
border: 1px dotted red;
}

table {
font-size:0.75em;
}

th {}

tr, td {
text-align:center;
width:150px;
}

#footer {
border: 1px dotted red;
}
