<div class="flip-container">
    <div class="flipper">
        <div class="front card">
            <div class="head">
                <h1>Hammersmith & Fulham<h1>
            </div>
            
            <div id="image">
                <%= image_tag("Hammersmith_and_Fulham_image.jpg") %>
                <!--
                <div id="crest">
                    <%= image_tag("Hammersmith_and_Fulham_crest.jpg") %>
                </div>
                -->
            </div>

            
            <div id="table_container">
            <table>
                <tr>
                    <th>Label</th>
                    <th>Stat</th>
                </tr>
            
                <tr>
                    <td>Label</td>
                    <td>Stat</td>
                </tr>
                
                <tr>
                    <td>Label</td>
                    <td>Stat</td>
                </tr>

                <tr>
                    <td>Label</td>
                    <td>Stat</td>
                </tr>

                <tr>
                    <td>Label</td>
                    <td>Stat</td>
                </tr>
                
                <tr>
                    <td>Label</td>
                    <td>Stat</td>
                </tr>
                
                <tr>
                    <td>Label</td>
                    <td>Stat</td>
                </tr>
                
                
            </table>	
            </div>

            <div id="footer">Some footer text goes here</div>

        </div>
        <div class="back card">
            <div id="head">
                <h1>Card Back<h1>
            </div>
        </div>
    </div>
</div>
