<div class="container">
    <div class="row">
        <div class="span6">
            <h4 id="player1-name"></h4>
            <div class="flip-container">
                <div class="flipper">
                    <div class="front card">
                        <div class="head">
                            <h1 id="player1-card-title">Hammersmith & Fulham<h1>
                        </div>
                        
                        <div id="image">
                            <img id="player1-card-image"/>
                            <!--
                            <div id="crest">
                                <%= image_tag("Hammersmith_and_Fulham_crest.jpg") %>
                            </div>
                            -->
                        </div>

                        
                        <div id="table_container">
                        <table>
                            <tr>
                                <th>Label</th>
                                <th>Stat</th>
                            </tr>
                        
                            <tr onclick="pick(0)">
                                <td id="player1-label-1">Label</td>
                                <td id="player1-stat-1">Stat</td>
                            </tr>
                            
                            <tr onclick="pick(1)">
                                <td id="player1-label-2">Label</td>
                                <td id="player1-stat-2">Stat</td>
                            </tr>

                            <tr onclick="pick(2)">
                                <td id="player1-label-3">Label</td>
                                <td id="player1-stat-3">Stat</td>
                            </tr>

                            <tr onclick="pick(3)">
                                <td id="player1-label-4">Label</td>
                                <td id="player1-stat-4">Stat</td>
                            </tr>
                            
                            <tr onclick="pick(4)">
                                <td id="player1-label-5">Label</td>
                                <td id="player1-stat-5">Stat</td>
                            </tr>
                            
                            <tr onclick="pick(5)">
                                <td id="player1-label-6">Label</td>
                                <td id="player1-stat-6">Stat</td>
                            </tr>
                            
                            
                        </table>	
                        </div>

                        <div id="player1-footer"></div>

                    </div>
                    <div class="back card">
                        <div id="head">
                            <h1>Card Back<h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6 hidden-phone">
            <h4 id="player2-name"></h4>
            <div class="flip-container">
                <div class="flipper">
                    <div class="front card">
                        <div class="head">
                            <h1 id="player2-card-title>Hammersmith & Fulham<h1>
                        </div>
                        
                        <div id="image">
                            <img id="player2-card-image"/>
                            <!--
                            <div id="crest">
                                <%= image_tag("Hammersmith_and_Fulham_crest.jpg") %>
                            </div>
                            -->
                        </div>

                        
                        <div id="table_container">
                        <table>
                            
                            
                            
                        </table>	
                        </div>

                        <div id="player2-footer"></div>

                    </div>
                    <div class="back card">
                        <div id="head">
                            <h1>Card Back<h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
