<h1>Trumps</h1>
<h2 id="player_count">Players: 1</h2>
<%= link_to "Switch", {:action => "switch", :id => @game}, :remote => true, :class => 'btn', :id => 'button' %>
<br />
<div id="console">
</div>

<script type="text/javascript">
	var pusher = new Pusher('d2b29a599cc5f3823b3b');
	var channel = pusher.subscribe('<%= "presence-" + @game.id.to_s %>');

	channel.bind('pusher:subscription_succeeded', function() {
		if (channel.members.count > 1) {
	      	console('Game on!');
	      	set_players();
	  	} else {
	  		console('Waiting for player 2...');
	  	}
    });
    channel.bind('switch', function(data) {
    	$('#button').toggleClass('red');	
    });
    channel.bind('pusher:member_added', function() {
    	set_players();
    	console('Game on!');
    });


    // Helper Functions    
    function set_players() {
    	$('#player_count').text("Players: " + channel.members.count);	
    }

    function console(string) {
    	$('#console').text(string);
    }
    
</script>